/*

The Flexible Grid Foundation 
By Patrick Grady                                                             
www.pgrady.com   

*/

	
/*////////////////////////////////////////////// global styles //////////////////////////////////////////*/

#container {
	width: 99.99999%;
	margin: 0 auto;
	}

.wrapper {
	margin: 0 auto;
	padding: .5em;
	}
	

/*////////////////////////////////////////  sets column widths  ////////////////////////////////////////*/

div[class$="col"] {
	padding: 1em;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    }

.onecol {
	width: 100%;
	}

.twocol {
	width: 50%;
	}

.threecol {
	width: 33.33%;
	}
	
.fourcol {
	width: 25%;
	}

.sixcol {
	width: 16.66%;
	}

.eightcol {
	width: 12.5%;
	}

		
/*/////////////////////////////////////////  widescreen  /////////////////////////////////////////*/

@media (min-width:801px) {
	
#container {
	max-width: 1120px;
	}
			
	}/*widescreen close*/
	
/*///////////////////////////////////////////  tablet  ///////////////////////////////////////////*/

@media (max-width:800px) {

body {
	min-width: 601px;
	}

#container  {
	width: 100%;
	}
	
.fourcol, .sixcol, .eightcol {
	width: 50%;
	}
		

	}/*tablet close*/
	
/*/////////////////////////////////////////  mobile  /////////////////////////////////////////*/

@media (max-width: 600px) {

body {
	min-width: 300px;
	}
	
#container  {
	width: 100%;
	}

div[class$="col"] {
	width: 100%;
	}
		
	}/*mobile close*/